<h1>Create a new movie list</h1>

<div class="lists">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for @list do |f|%>
        <%= f.input :name, placeholder: 'Give your list a name'%>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-flat' %>
      <% end %>
      <br>
      <%= link_to 'Back to lists', lists_path, :class => "btn-cancel" %>
    </div>
  </div>
</div>


